
h2 {
    color: aqua;
    background-color: black;
    }
body {
    background-color: aqua;
    }

    /*pristup preko ID-a*/
#prvi {
    color: blue;
}

    /* pristup preko klase*/
.drugi {
    color: brown;
}
